
html {
  font-size: 25px;
}

h1 {
  color: #1c2321;
  font-size: 2.5rem;
  text-align: center;
}
.uppercase {
  text-transform: uppercase;
}
.capitalize {
  text-transform: capitalize;
}
.movedammit {
  margin-bottom: 110px;
}

h2{color: #1C2321;
font-size: 2rem;
text-align: center;}

* {
  font-family: "Antonio", sans-serif;
}
.bg-green {
  background: #cd7f58;
}
.bg-lilablassblau {
  background: #83639d;
}
a {
  color: #cde7b0;
}
a:hover {
  color: #7286a0;
}

.flex-container2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1000px;
  margin: 0 auto;
}

.break {
  flex-basis: 100%;
  height: 0;
}

header,
footer{
  text-align: center;
}

#Lebenslauf {
  text-align: center;
  list-style: inside;
}

.image-margin img:hover {
  transform: scale(1.05);
  transition: transform 0.5s ease;
}

.image-gallery img {
  border-radius: 50px;
}

.image-margin img {
  margin-bottom: 10px;
  margin-top: 10px;
}

.nav-bar2 {
  position: fixed;
  z-index: 10;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
}

nav.internal {
  background: #3e3e3e;
  text-align: center;
}

/* Work in progress test */
.card {
  background: url("images/heythatsme.jpg") no-repeat;
  display: inline-block;
}
.card:hover {
  background: url("images/sponge.png") no-repeat;
}

.content-container {
  display: flex;
  flex-direction: column;
 }

 .content-container2 {
   display: flex;
   flex-direction: column;
 }

body {
  overflow-x: hidden;
}

img {
  width: 100%;
  height: auto;
}

@media (min-width: 768px) {
  html {
    font-size: 20px;
  }
  body {
    overflow: visible;
  }

  .content-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }
  .content-item {
    flex: 1 1 1;
  }


  .flexible-container {
    display: flex;
    max-width: 640px;
    margin: 0 auto;
  }

  /* equal size children */
  .flexible-container .content {
    flex: 1 0 0;
  }
  .content:not(:last-of-type) {
    margin-right: 1rem;
  }
  .flexible-container2 {
    display: flex;
    max-width: 1280px;
    margin: 0 auto;
  }

  /* equal size children */
  .flexible-container .content {
    flex: 1 0 0;
  }
  .content:not(:last-of-type) {
    margin-right: 1rem;
  }
}
